@use '../../styles/variables';
@use '../../styles/mixins';

#choose_profile {
    @include mixins.flex-center;
    flex-direction: column;
    h1 {
        font-size: 2.5rem;
        margin: 2.6rem;
    }
}

.profiles {
    display: flex;
}

#client_profile {
    .profile_card {
        margin-left: auto;
        margin-right: 2rem;
    }
}

#baker_profile {
  .profile_card {
    margin-left: 2rem;
    margin-right: auto;
  }
}

.profile_container {
    @include mixins.flex-center;
    width: 49.4vw;
    height: 28rem;
}

.bgImage {
    z-index: -1;
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
}

img, svg {
    transition: .4s;
}

.profile_card {
    text-decoration: none;
    width: 24rem;
    height: 13rem;
    background: rgba(white, 0.7);  
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .4s;
    

    svg {
        margin: 2rem;
        transform: scale(7);
        fill: #D8B299;
    }
    h2 {
        font-size: 2.3rem;
        margin-bottom: 1rem;
        margin-top: -2rem;
        color: black;
    }
    p {
        color: variables.$text-color-secondary;
        font-size: 0.9rem;
    }
    &:hover { 
        svg {
            fill: #C78A61;
        }
        background: rgba(white, 1);  
    }
}


.description {
    @include mixins.flex-center;
    width: 50%;
    flex-direction: column;
    text-align: center;
}
