@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: variables.$body-bg-color;
}
