@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  color: variables.$text-color;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: variables.$body-bg-color;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}