#mainContainer{
    height: 100%;
    display: flex;
    background-color: #FFE7BD;
    justify-content: center;
}
#secondaryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-radius: 15px;
    margin: 2rem;
    width: 20rem;
    background-color: #FFF8E4;
    img{
        max-width: 50%;
        margin: 1rem;
    }
    label{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}

#buttonsOfLogin{

    display: flex;
    flex-direction: column;
    margin: 2rem 0rem 1rem;
    gap:0.7rem;
    button{
        border-radius: 25px;
        border-collapse: 1;
    }
    .buttonFull{
        width: 10rem;
        background-color: #C78A61;
    }
    .buttonEmpty{
        width: 100%;
        background-color: none;
        border-color: #C78A61;
        color: #C78A61;
    }
    .buttonText{
        padding: 0px;
        border-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.439);
    }
    
}
