@use '../../styles/variables';
@use '../../styles/mixins';


#padaria-card {
    width: 20rem;
    height: 8rem;
    background-color: white;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;

    transition: .4s;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

   .logo {
        background-color: lightgrey;
        min-width: 5.5rem;
        min-height: 5.5rem;
        border-radius: 0.7rem;
        margin-left: 1.2rem;
    }

   .information-container {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 12.3rem;

       .padaria-name {
            font-size: 1.15rem;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 0.7rem;
        }

       .rating {
            display: flex;
            align-items: center;
            
            svg {
                fill: #FFC700;
            }
            
            .number {
                margin: 0;
                color: #DDAD02;
            }
        }
   }

}

