@use '../../styles/variables';
@use '../../styles/mixins';

#padarias-list{
    @include mixins.flex-center;
    flex-direction: column;
    .header {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-left: 11.3rem;
        
        display: flex;
        gap: 5em;

        .cep-input {
            width: 7em;
        }
        h2 {
            font-weight: normal;
        }
    }

    

    .grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 3rem;
    }
    .linear-progress {
        width: 100%;
    }
}