@use '../../styles/variables';
@use '../../styles/mixins';

#padaria-profile {
	@include mixins.flex-center;
    flex-direction: column;

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: variables.$bg-color;
        flex-direction: column;
    }

    .header-padaria {
        display: flex;
        align-items: center;
        width: 90%;
        height: 9rem;
        gap: .5rem;
        .padaria-logo{
            background-color: lightgrey;
            min-width: 5.5rem;
            min-height: 5.5rem;
            border-radius: 0.7rem;
            margin-right: 2rem;
            margin-left: 3rem;
        }

        .padaria-name{
            font-size: 1.5rem;
            margin: 0;
            font-weight: bold;
        }

        .rating {
            display: flex;
            align-items: center;

            svg {
                fill: #FFC700;
                width: 1.5rem;
                height: 1.5rem;
            }
            .number {
                margin: 0;
                color: #DDAD02;
                font-weight: bold;
                margin-left: .1rem;
            }
        }

        .subscription-status {
            color: #04AF01;
            svg {
                fill: #04AF01;
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        border-bottom: 0.1rem solid #6A6A6A;
    }

    .tabs {
        width: 90%;
        height: 3rem;
    }

    .plans-grid {
		margin-top: 5rem;
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10rem;
        height: 21rem;
        margin-top: 3rem;
        background-color: variables.$bg-color;
        width: 100%;
        gap: 1rem;
        h2{
            font-size: 1.5rem;
        }
        .address{
            display: flex;
            flex-direction: column;
            
        }
        .other-info{
            display: flex;
            flex-direction: column;
            
        }
    }    
}

.planModalContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        border: none;
        background: none;
    }

    .header{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        position: relative;

        button {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #6A6A6A;
        }

        button:hover {
            color: #af0101;
        }
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: fit-content;
        height: 200px;
        padding: 0 2rem;
        & p:nth-child(2) {
            font-weight: bold;
        }

        border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    }
    #assinarBtn { 
        background-color: #C78A61;
        color: white;
        border: none;
        border-radius: 8px;

        padding: .6rem 1.2rem;
        margin: 2rem 2rem;

        width: fit-content;
        font-weight: bold;
        &:hover {
            background-color: #b46f41;
        }
    }
}