@use '../../styles/variables';
@use '../../styles/mixins';

#subscription-plan-card {
    border: none;
    width: 38rem;
    height: 14rem;
    background-color: variables.$bg-color;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;

    transition: .4s;
    &:hover, &:focus-visible {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

    &:focus-visible {
        outline: 2px solid black;
    }

    .plan-info {
        display: flex;
        flex-direction: column;
        width: 24.5rem;
        height: 100%;
        padding-left: 1rem;

        .name {
            margin-top: 1rem;
            font-size: 1.2rem;
        }

        .description {
            font-size: 0.9rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* numero de linhas mostradas */
                    line-clamp: 4; 
            -webkit-box-orient: vertical;
        }

        .served_people{
            margin-top: auto;
            margin-bottom: 0.3rem;
            font-weight: 600;
            font-size: 0.9rem;
        }

        .price {
            font-weight: bold;
            margin-bottom: 1rem;
            
        }svg {
            width: 0rem;
        }
        .subscribed {
            color: green;
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
    
    .img {
        background-color: lightgrey;
        min-width: 11rem;
        min-height: 11rem;
        border-radius: 0.7rem;
        margin-left: 1.2rem;
    }
}